# Visual Studio / .NET
bin/
obj/
out/
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
appsettings.Development.json

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.local

# Logs
*.log

# Build / publish outputs
PublishOutputs/
**/publish/

# Misc
*.nupkg
.nuget/

